/.idea/
/ARCS/
/DATA/
/DOCS/
/LOGS/
/MISC/
/MSGS/
/NETFOSS/
/nodelist/
/PROTOCOL/
/RGBOT/
/TEMP*/
/TEXT/
/RGAPI/
/RENEGADE.DAT
/RENEGADE.EXE
/RENEGADE.OVR
/RENEMAIL.EXE
/RG.BAT
/fp.cfg
/fp.dsk
/fp.ini
